@import './pages/homePage.css';
@import './pages/profilePage.css';
@import './pages/consultationPage.css';
@import './pages/aboutPage.css';
@import './pages/contactPage.css';
@import './pages/validationPage.css';

.page-title {
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    color: var(--main-color);
    margin: 30px 0;
}

.page-title-2 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: var(--main-color);
}

.admin-users-error,
.consultation-page-no-img,
.consulta-not-found,
.validate-text {
    font-size: 16px;
    text-align: center;
    padding: 10px 40px;
}

.seccion {
    padding: 50px 70px;
    min-height: 300px;
}

@media (min-width: 780px) {
    .seccion {
        padding: 100px;
    }
}
