.page-title {
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    color: var(--main-color);
    margin: 30px 0;
}

.page-title-2 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: var(--main-color);
}

.admin-page {
    flex-grow: 1;
}

.admin-users-error,
.consultation-page-no-img,
.consulta-not-found,
.validate-text {
    font-size: 16px;
    text-align: center;
    padding: 10px 40px;
}

.seccion {
    padding: 50px 70px;
    min-height: 300px;
}

/* seccion logo inicio */

.seccion-inicio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
    margin-top: 200px;
    max-width: 100vw;
    padding: 50px 0;
}

.seccion-inicio div:first-of-type {
    width: 100%;
}

.seccion-inicio img {
    max-width: 100%;
    height: auto;
}

.logo-app-noregister {
    margin-top: 170px !important;
    width: 120px;
    margin-bottom: 25px;
}

.seccion-inicio p {
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 20px;
    text-align: justify;
    margin: 30px 80px;
}

.seccion-inicio-deco {
    all: unset;
    width: 350px;
    position: absolute;
    top: 180px;
    right: 0;
}

.logo-register img {
    margin-top: -60px;
    width: 200px;
}

.seccion-consultas {
    margin: 0 20px;
}

.seccion-consultas h3,
.seccion-consultas h1 {
    font-size: 35px;
}

/* Seccion carrusel home */
.carrusel-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-carrusel {
    background-color: var(--main-color);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.seccion-carrusel h2 {
    all: unset;
    font-size: 24px;
    font-weight: regular;
    margin-bottom: 2rem;
}

.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
}

.doctorsList {
    display: flex;
    gap: 0.2rem;
}

.card-doctor-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-doctor-inicio-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
    align-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card-doctor-inicio-avatar img {
    object-fit: cover;
    width: 100px !important;
    height: 100px !important;
    height: auto;
}

.card-doctor-inicio h3,
.card-doctor-inicio p {
    display: none;
}

.rating-stars-2 {
    color: var(--secondary-color);
    font-size: 18px;
    margin: 10px 0;
}

.btn-carrusel {
    all: unset;
    color: var(--color-white);
    transition: color 0.3s ease;
}

.btn-carrusel:hover {
    color: var(--secondary-color);
}

.btn-registro-inicio {
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 40px;
}

/* Seccion info home */
.seccion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.seccion-info article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */
    gap: 3rem;
}

.seccion-info article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    gap: 1rem;
}

.seccion-info article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* seccion banner */
.seccion-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--color-white);
    text-align: center;
    gap: 1.5rem;
}

.seccion-banner h3 {
    font-size: 28px !important;
    color: var(--color-white);
}

.seccion-banner div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* DETALLE MÉDICO PAGE */
.ficha-user {
    width: 85vw;
    margin: 30px auto 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ficha-user-container {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ficha-user-img img {
    object-fit: cover;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 25px;
    display: block;
}

.ficha-medico-rating {
    margin: 0 20px;
}

.ficha-user-info,
.ficha-medico-rating {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    margin: auto;
    padding: 40px;
}

.ficha-user-info ul,
.ficha-medico-rating ul {
    list-style: none;
}

.ficha-user-info ul li,
.ficha-medico-rating ul li {
    margin: 25px 0;
}

.ficha-medico-rating ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ficha-user-info ul li h3,
.ficha-medico-rating h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}

.ficha-medico-rating h4 {
    font-size: 18px;
    font-weight: 500;
}

.ficha-user-info ul li p,
.ficha-medico-rating ul li p {
    font-size: 16px;
    font-weight: 300;
}

.ficha-user-info ul li:last-child {
    margin-top: 50px;
}

/* CONSULTATION PAGE */
.consultation-page {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.consultation-page section {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0.5px 0.5px 2px var(--color-black);
    width: 100%;
    gap: 1rem;
}

.otras-consultas {
    border: none !important;
    box-shadow: none !important;
}

.consultation-detail {
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.consultation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.consultation-info h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--main-color);
}

.consultation-info p {
    font-size: 16px;
    font-weight: 300;
}

.consultation-page h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
}

.no-take-consultation {
    font-size: 14px !important;
    font-weight: 300 !important;
    text-align: center !important;
    color: var(--secondary-color);
    width: 100%;
    margin: 30px 0 0 0;
}

.consulta-archivos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image-gallery {
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    /* max-height: 400px; */
    /* overflow-y: auto; */
}

.chat-messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat-messages li {
    width: 100%;
}

li:has(.chat-active-user) {
    align-self: flex-end;
    background-color: var(--main-color);
    color: var(--color-white);
    padding: 10px 20px;
    max-width: 80%;
    min-width: 30%;
    border-radius: 15px;
    word-wrap: break-word;
    text-align: right;
}

.chat-active-user {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

li:has(.chat-other-user) {
    align-self: flex-start;
    background-color: var(--color-white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    max-width: 80%;
    min-width: 30%;
    border-radius: 15px;
    word-wrap: break-word;
    text-align: left;
}

.btn-papelera-chat {
    background-color: var(--color-white);
    padding: 2px 5px;
    border: none !important;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.chat-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.diagnostic,
.vote-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagnostic-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.diagnostic-form textarea {
    padding: 5px 15px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    width: 100%;
    margin: 40px 0 0 0;
}

.vote-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 20px 0 0 0;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.diagnostic article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* ABOUT PAGE */
.about-container {
    text-align: center;
    padding: 2rem;
}
.team-section {
    padding: 3rem 1rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.team-card {
    background: white;
    border: 1px solid var(--main-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.team-card:hover {
    transform: scale(1.05);
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid var(--main-color);
}
.role {
    font-weight: bold;
    color: var(--secondary-color);
}
.social-links img {
    width: 24px;
    margin: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.social-links img:hover {
    opacity: 0.7;
}
.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-text ul {
    list-style: none;
    padding: 20px;
    text-align: justify;
}

.about-text ul li {
    margin: 10px 0;
    display: flex;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/*CONTACT PAGE*/


.contact-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);
    font-family: 'Poppins', sans-serif;
}


.contact-title {
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 10px;
}


.contact-text {
    font-size: 18px;
    color: var(--color-black);
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.6;
}


.contact-info {
    background-color: var(--background-light);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 16px;
    line-height: 1.8;
    border-left: 6px solid var(--main-color);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}


.faq-section {
    text-align: left;
    margin-top: 20px;
}


.faq-question {
    width: 100%;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-white);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    color: var(--main-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s, color 0.3s, transform 0.2s;
}


.faq-question:hover {
    background-color: var(--main-color);
    color: var(--color-white);
    transform: scale(1.02);
}


.faq-question span {
    font-size: 20px;
    transition: transform 0.3s;
}


.faq-question[aria-expanded="true"] span {
    transform: rotate(180deg);
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    background-color: var(--background-light);
    border-radius: 8px;
    padding: 0 16px;
}


.faq-answer.show {
    max-height: 200px;
    opacity: 1;
    padding: 16px;
}


.contact-image {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* VALIDATION PAGE */
.validation-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ADMIN PAGE */
.admin-lista-usuarios {
    padding: 20px 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-user-card {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    box-shadow: 0.5px 0.5px 2px var(--color-black);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    word-wrap: break-word;
}

.admin-user-card span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin-user-card h4 {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}

.admin-user-card p {
    font-size: 16px;
    font-weight: 300;
}

.admin-user-card-btns {
    padding: 10px 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 780px) {
    .seccion {
        padding: 100px;
    }
    /* seccion inicio */
    .seccion-inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px;
        margin-bottom: 50px;
        min-height: 80vh;
    }

    .seccion-inicio div {
        width: 100%;
    }

    .seccion-inicio-deco {
        all: unset;
        width: 500px;
        position: absolute;
        top: 100px;
        right: 0;
    }
    .logo-app-noregister {
        margin-top: 0;
    }

    .logo-register {
        margin: auto 150px;
    }

    .logo-register img {
        width: 70%;
        max-width: 500px;
    }
    /* Seccion carrusel home */

    .carrusel {
        gap: 8rem;
    }

    .doctorsList {
        gap: 12rem;
    }

    .card-doctor-inicio img {
        width: 150px;
        height: 150px;
    }

    .card-doctor-inicio h3,
    .card-doctor-inicio p {
        display: block;
        margin: 5px;
    }

    .card-doctor-inicio h3 {
        font-size: 20px;
        font-weight: 500;
        color: var(--color-white);
    }

    /* Seccion info home */

    .seccion-info article {
        flex-direction: row;
        gap: 2rem;
    }

    .seccion-info article div {
        text-align: justify;
    }

    .seccion-info article img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .seccion-info article:last-child {
        flex-direction: row-reverse;
    }

    /* PAGINA DETALLE MEDICO */

    .consultation-detail {
        flex-direction: row;
    }

    .consultation-info {
        flex: 8;
    }
    .consulta-archivos {
        flex: 4;
    }

    li:has(.chat-active-user) {
        width: 40%;
    }

    li:has(.chat-other-user) {
        max-width: 40%;
    }

    .admin-lista-usuarios {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .admin-user-card {
        width: 60%;
    }
}

@media (min-width: 980px) {
    .ficha-user {
        width: 90vw;
        gap: 3rem;
    }

    .ficha-user-container {
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 3rem;
    }

    .ficha-user-img {
        border: 1px solid var(--main-color);
        border-radius: 5px;
    }

    .ficha-user-info,
    .ficha-medico-rating {
        padding: 50px 60px;
    }

    .ficha-user-rating {
        text-align: center;
    }

    .ficha-user-info ul li h3,
    .ficha-medico-rating h3 {
        font-size: 25px;
    }

    .ficha-user-rating h4 {
        font-size: 19px;
    }

    .ficha-user-info ul li p,
    .ficha-medico-rating ul li p {
        font-size: 18px;
    }

    .ficha-user-edit-contraseña {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2rem;
    }
}
