.page-title {
    font-size: 38px;
    text-align: center;
    font-weight: 300;
    color: var(--main-color);
    margin: 30px 0;
}

.seccion {
    padding: 50px 70px;
    min-height: 300px;
}

/* seccion logo inicio */

.seccion-inicio {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
    margin-top: 200px;
    max-width: 100vw;
    padding: 50px 0;
}

.seccion-inicio div:first-of-type {
    width: 100%;
}

.seccion-inicio img {
    max-width: 100%;
    height: auto;
}

.logo-app-noregister {
    margin-top: 170px !important;
    width: 120px;
    margin-bottom: 25px;
}

.seccion-inicio p {
    font-size: 16px;
    color: var(--color-black);
    margin-bottom: 20px;
    text-align: justify;
    margin: 30px 80px;
}

.seccion-inicio-deco {
    all: unset;
    width: 350px;
    position: absolute;
    top: 180px;
    right: 0;
}

.logo-register img {
    margin-top: -60px;
    width: 200px;
}

/* Seccion carrusel home */
.seccion-carrusel {
    background-color: var(--main-color);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.seccion-carrusel h2 {
    all: unset;
    font-size: 24px;
    font-weight: regular;
    margin-bottom: 2rem;
}

.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 1.5rem;
}

.doctorsList {
    display: flex;
    gap: 0.2rem;
}

.card-doctor-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-doctor-inicio-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 10px;
    align-self: center;
    border: 1px solid red;
}

.card-doctor-inicio h3,
.card-doctor-inicio p {
    display: none;
}

.btn-carrusel {
    all: unset;
    color: var(--color-white);
    transition: color 0.3s ease;
}

.btn-carrusel:hover {
    color: var(--secondary-color);
}

/* Seccion info home */
.seccion-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.seccion-info article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */
    gap: 3rem;
}

.seccion-info article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    gap: 1rem;
}

.seccion-info article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* seccion banner */
.seccion-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--color-white);
    text-align: center;
    gap: 1.5rem;
}

.seccion-banner h3 {
    font-size: 28px !important;
    color: var(--color-white);
}

.seccion-banner div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* NOT FOUND PAGE */
.notfound-container {
    max-width: 100vw;
    max-height: 100vh;
    text-align: center;
}

.notfound-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.notfound-title {
    font-size: 170px;
    font-weight: 300;
    color: var(--main-color);
}

.notfound-title .red {
    color: var(--secondary-color);
}

.notfound-message {
    font-size: 30px;
    font-weight: 400;
}

.notfound-text {
    font-size: 18px;
    font-weight: 200;
}

.notfound-character img {
    width: 40%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: -1;
}

/* DETALLE MÉDICO PAGE */
.ficha-medico {
    width: 85vw;
    margin: 30px auto 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ficha-medico-container {
    width: 100%;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ficha-medico-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.ficha-medico-img img {
    border: 1px solid var(--main-color);
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 100%;
    display: block;
}

.ficha-medico-rating {
    margin: 0 20px;
}

.ficha-medico-info,
.ficha-medico-rating {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    width: 100%;
    margin: auto;
    padding: 40px;
}

.ficha-medico-info ul,
.ficha-medico-rating ul {
    list-style: none;
}

.ficha-medico-info ul li,
.ficha-medico-rating ul li {
    margin: 25px 0;
}

.ficha-medico-rating ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ficha-medico-info ul li h3,
.ficha-medico-rating h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}

.ficha-medico-rating h4 {
    font-size: 18px;
    font-weight: 500;
}

.ficha-medico-info ul li p,
.ficha-medico-rating ul li p {
    font-size: 16px;
    font-weight: 300;
}

@media (min-width: 780px) {
    /* seccion inicio */
    .seccion-inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -50px;
        margin-bottom: 100px;
        min-height: 80vh;
    }

    .seccion-inicio div {
        width: 100%;
    }

    .seccion-inicio-deco {
        all: unset;
        width: 500px;
        position: absolute;
        top: 100px;
        right: 0;
    }
    .logo-app-noregister {
        margin-top: 0;
    }

    .logo-register {
        margin: auto 150px;
    }

    .logo-register img {
        width: 70%;
        max-width: 500px;
    }
    /* Seccion carrusel home */

    .carrusel {
        gap: 3rem;
    }

    .doctorsList {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        gap: 2rem;
    }

    .card-doctor-inicio img {
        width: 120px;
        height: 150px;
    }

    .card-doctor-inicio h3,
    .card-doctor-inicio p {
        display: block;
        margin: 5px;
    }

    .card-doctor-inicio h3 {
        font-size: 20px;
        font-weight: 500;
        color: var(--color-white);
    }

    /* Seccion info home */
    .seccion-info {
        padding: 40px;
    }

    .seccion-info article {
        flex-direction: row;
        gap: 2rem;
    }

    .seccion-info article div {
        text-align: justify;
    }

    .seccion-info article img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .seccion-info article:last-child {
        flex-direction: row-reverse;
    }

    /* PAGINA DETALLE MEDICO */

    .ficha-medico {
        width: 90vw;
        gap: 3rem;
    }

    .ficha-medico-container {
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 3rem;
    }

    .ficha-medico-img {
        border: 1px solid var(--main-color);
        border-radius: 5px;
    }

    .ficha-medico-info,
    .ficha-medico-rating {
        padding: 50px 60px;
    }

    .ficha-medico-rating {
        text-align: center;
    }

    .ficha-medico-info ul li h3,
    .ficha-medico-rating h3 {
        font-size: 25px;
    }

    .ficha-medico-rating h4 {
        font-size: 19px;
    }

    .ficha-medico-info ul li p,
    .ficha-medico-rating ul li p {
        font-size: 18px;
    }
}
