.consultation-page {
    max-width: 100vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.consultation-page section {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0.5px 0.5px 2px var(--color-black);
    width: 100%;
    gap: 1rem;
}

.otras-consultas {
    border: none !important;
    box-shadow: none !important;
}

.consultation-detail {
    border: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.consultation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.consultation-info h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--main-color);
}

.consultation-info p {
    font-size: 16px;
    font-weight: 300;
}

.consultation-page h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
}

.no-take-consultation {
    font-size: 14px !important;
    font-weight: 300 !important;
    text-align: center !important;
    color: var(--secondary-color);
    width: 100%;
    margin: 30px 0 0 0;
}

.consulta-archivos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.image-gallery {
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.uploaded-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    /* max-height: 400px; */
    /* overflow-y: auto; */
}

.chat-messages ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat-messages li {
    width: 100%;
}

li:has(.chat-active-user) {
    align-self: flex-end;
    background-color: var(--main-color);
    color: var(--color-white);
    padding: 10px 20px;
    max-width: 80%;
    min-width: 30%;
    border-radius: 15px;
    word-wrap: break-word;
    text-align: right;
}

.chat-active-user {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

li:has(.chat-other-user) {
    align-self: flex-start;
    background-color: var(--color-white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    max-width: 80%;
    min-width: 30%;
    border-radius: 15px;
    word-wrap: break-word;
    text-align: left;
}

.btn-papelera-chat {
    background-color: var(--color-white);
    padding: 2px 5px;
    border: none !important;
    border-radius: 50%;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.chat-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.diagnostic,
.vote-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diagnostic-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.diagnostic-form textarea {
    padding: 5px 15px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    width: 100%;
    margin: 40px 0 0 0;
}

.vote-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 20px 0 0 0;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.diagnostic article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 780px) {
    .consultation-detail {
        flex-direction: row;
    }

    .consultation-info {
        flex: 8;
    }
    .consulta-archivos {
        flex: 4;
    }

    li:has(.chat-active-user) {
        width: 40%;
    }

    li:has(.chat-other-user) {
        max-width: 40%;
    }
}
