MYSQL_HOST=3306
MYSQL_USER=root
MYSQL_PASSWORD=ajm125344
MYSQL_DATABASE=gooddoctor
MYSQL_PORT=3001


PORT =3001
SECRET=SECRET

SMTP_USER=
SMTP_API_KEY=

UPLOADS_DIR=Uploads
AVATARDIR=Avatar
FRONTEND_HOST=


ADMIN_USER=Fran
ADMIN_PASSWORD=A12345.
ADMIN_EMAIL=salatras@gmail.com
SECRET_PATH_ADMIN=Admin