.login-page,
.registro-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to right,
        var(--secondary-color) 50%,
        white 50%
    );
}

.new-consult-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, var(--secondary-color) 50%, white 50%);
}

fieldset {
    border: none;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 100px;
}

.illustration {
    width: 270px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.registro-illustration {
    width: 200px;
}

.form-card {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: start;
    z-index: 5;
}

.form-card h2 {
    font-size: 18px;
    font-weight: 300;
}

.form-card h1 {
    font-size: 28px;
    font-weight: 500;
}

.form-card p {
    font-size: 14px;
    font-weight: 200;
}

.form-card p:first-child {
    font-size: 16px;
    font-weight: 400;
}

.form-link {
    text-decoration: none;
    font-weight: 300;
    color: var(--secondary-color);
    margin-left: 5px;
}

.form {
    width: 90%;
}

.form .input-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form input,
.form-select-input {
    margin-bottom: 1rem;
    padding: 5px 15px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.form-switch {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

.form-switch div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.form-switch input[type='radio'] {
    display: none;
}

.radio-btn {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}

.radio-btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.2s, border-color 0.2s;
}

.form-switch input[type='radio']:checked + .radio-btn:before {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.form-switch input[type='radio']:checked + .radio-btn:after {
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 14px;
    color: white;
}

.form .visibility-btn {
    border: none;
    background: none;
    padding: 5px;
}

.img-input-fieldset {
    border: none;
}
.img-input-container {
    height: 50px;
    border: none;
}

.img-input {
    border: none;
}

.new-consult-illustration {
    bottom: 0;
    left: 50px;
}

.previews-container {
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}
.previews-container li {
    width: 20%;
}

.previews-container li img {
    width: 100%;
}

@media (min-width: 780px) {
    .illustration {
        width: 300px;
        position: absolute;
        bottom: 10px;
        transform: translateX(30%);
    }

    .registro-illustration {
        transform: translateX(60%);
    }

    .new-consult-illustration {
        bottom: 0;
        left: -120px;
    }

    .form-card {
        width: 500px;
    }
}
