.login-page {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to right,
        var(--secondary-color) 50%,
        white 50%
    );
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.illustration {
    width: 270px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.login-card {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: start;
    z-index: 5;
}

.login-card h2 {
    font-size: 18px;
    font-weight: 300;
}

.login-card h1 {
    font-size: 28px;
    font-weight: 500;
}

.login-card p {
    font-size: 14px;
    font-weight: 200;
}

.login-card p:first-child {
    font-size: 16px;
    font-weight: 400;
}

.form-link {
    text-decoration: none;
    font-weight: 300;
    color: var(--secondary-color);
    margin-left: 5px;
}

.login-form .input-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.login-form input {
    margin-bottom: 1rem;
    padding: 5px 15px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    font-size: 14px;
    flex-grow: 1;
}

.login-form .visibility-btn {
    border: none;
    background: none;
    padding: 5px;
}

@media (min-width: 780px) {
    .illustration {
        width: 300px;
        position: absolute;
        bottom: 10px;
        transform: translateX(30%);
    }

    .login-card {
        width: 400px;
    }
}
